@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,
a{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

:root{
    --color-bg: hsl(0, 0%, 100%);
    --color-light-primary: hsl(240, 0%, 50%);
    --color-primary: hsl(0, 0%, 24%);
}


body{
    background-color: var(--color-bg);
    font-family: 'Poppins', sans-serif;
}



.content{
    padding: 1.5rem 2rem;
}

.content--1x{
    padding: 1rem 1.5rem;
}


.feature-block{

}

.feature-block__header{
    color: var(--color-primary);

}

.feature-block__heading--1x{
    font-size: 1rem;
    font-weight: 700;
}

.feature-block__heading{
    font-size: 2rem;
    font-weight: 700;
}

.feature-block__subheading{
    font-size: 1rem;
    color: var(--color-light-primary);
}

.feature-block__content{
    margin: 1rem 0;
}

.feature-block--tile{
    width: 100%;
    margin: 0 auto;
}

.feature-block--image-div{
    overflow: hidden;
    width: 80vw;
    margin: 0 auto;

    height: 60vh;
    transition: 0.10s all ease-in-out;
}

.feature-block--image-div:hover > .feature-block--image{
    transform: scale(1.5);
}

.feature-block--image{
    object-position: center;  
}

.feature-block__subcontent{
    
}

.feature-block__subcontent--header{
    padding: 0 2rem;
    width: 100%;
}

.feature-block__subcontent--heading{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.feature-block__subcontent--subheading{
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-primary);
}  

.feature-block__footer{

}


.nav-bar{

}


.nav-bar__header{
    font-weight: 300;
    font-size: 1.1rem;
    color: var(--color-light-primary);
}

.nav-bar--items:hover{
    color: var(--color-primary);
}

.header .nav-bar--items:hover{
    text-decoration: underline;
}

.index--selected{
    text-decoration: underline;
}

.nav-bar__heading{
    font-weight:500;
    font-size: 1.5rem;
    color: var(--color-primary);
    text-align: center;
}

.nav-bar__footer{
    color: var(--color-light-primary);
    font-size: 0.8rem;
}

.nav-bar--footer .nav-bar--items{
    margin: 0.8rem;
}


.expandable{
}

.expandable .expandable-button{
    display: block;
}

.expandable .expandable-items{
    display: none;
}

.header .collapsible2__content{
    height: auto;
    width: auto;
    position: absolute;
    z-index: 1;
    background-color: var(--color-primary);
    top: 3.7rem;
    left: 2rem;
    padding: 1.5rem;
}

.header .collapsible2__content .nav-bar--items{
    color: var(--color-bg);
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
}


.home-page{
    height: 100vh;
    background-image: url(../images/picture.webp);
}

.home-page .feature-block__header{
    color: white;
}

.home-page .feature-block__heading{
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.home-header{
    background-color: var(--color-primary);
}

.home-header .feature-block__heading{
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--color-bg);
}


.home-sale{

}

.home-sale .feature-block--image-div{
    width: 100%;
    height: 80vh;
}

.home-sale .feature-block--image-div:hover .feature-block--image{
    transform: none;
}

.home-pictures .feature-block--image-div{
    width: 100%;
    height: 250px;
}

.home-pictures .feature-block--image-div:hover .feature-block--image{
    transform: none;
}


.shop-header{
    margin: 0 2rem;
    padding: 2rem;
    border-bottom: 1px solid lightgray;
}

.filter{
    color: var(--color-light-primary);
}

.filter-item{
    margin-left: 1rem;
    border-left: 1px solid var(--color-light-primary);
    padding: 2px;
}

.filter-item:hover{
    border-bottom: 1px solid var(--color-primary);
}


.cart-block{

}

.cart-block .feature-block__content{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 2rem 1rem;
    margin: 0;
}

.cart-block .feature-block__subheading{
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    font-size: 0.8rem;
    color: var(--color-light-primary);
}

.cart-block--item{
    display: grid;
    grid-template-columns: 0.2fr auto 2fr 1fr auto;
    align-items: center;
    justify-content: center;
}
.cart-block--item > * {
}
.cart--image{
    width: 8rem;
    height: 8rem;
    margin-right: 1rem;
}



.iconized{
    font-size: 1.5rem;
    margin: 0.3rem;
    color: var(--color-primary);
}

.iconized:hover{
    color: black;
    cursor: pointer;
}

.textfield{
    border: 1px solid var(--color-primary);
    padding: 0.72rem 1rem;
    font-size: 1.2rem;
}

.button{
    color: white;
    background-color: var(--color-primary);
    padding: 0.8rem 1.3rem;
    border-width: 0;
    font-size: 1.2rem;
    cursor: pointer;
}
.button:hover{
    background-color: black;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart__number{
    font-size: 0.8rem;
    margin-left: 5px;
}

.margin-bottom{
    margin-bottom: 3rem;
}

.margin-bottom-items > *{
    margin-bottom: 3rem;
}

.margin-items > *{
    margin: 0.5rem;
}

.flex{
    display: flex;
}

.flex--row{
    flex-direction: row;
}

.flex--end{
    justify-content: flex-end;
}

.flex--start{
    justify-content: flex-start;
}

.flex--column{
    flex-direction: column;
}

.flex--centered{
    align-items: center;
    justify-content: center;
}

.flex--justify-between{
    justify-content: space-between;
}

.flex--justify-evenly{
    justify-content: space-evenly;
}

.flex--justify-arround{
    justify-content: space-around;
}

.flex--align-center{
    align-items: center;
}

.grid{
    display: grid;
}

.grid--1x1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid--1x2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.grid-gap--2x{
    grid-gap: 1.5rem;
}
.grid-gap--1x{
    grid-gap: 0.5rem;
}

.text-center{
    text-align: center;
}


.collapsible__header,
.collapsible2__header {
    display: flex;
    justify-content: space-between;
}

.collapsible__heading,
.collapsible2__heading {
    margin-top: 0;
    margin-bottom: 0;
}

.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}

.collapsible--expanded .collapsible2__content {
    display: block;
}

.collapsible2__content {
    display: none;
}





@media screen and (min-width: 800px) {
    
    
    .feature-block__subcontent--header{
        padding: 0 0.2rem;
        width: 100%;
    }    

    .expandable .expandable-button{
        display: none;
    }

    .expandable .expandable-items{
        display: block;
    }


    .header .nav-bar__header .expandable-items{
        display: flex;
        
    }
    
    .header .nav-bar__header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .header .collapsible2__content{
        position: relative;
        z-index: 0;
        background-color: var(--color-bg);
        top: 0;
        left: 0;
        padding: 0;
    }
    
    .header .collapsible2__content .nav-bar--items{
        color: var(--color-primary);
        font-size: 1.1rem;
        border: 0;
    }

    .grid--1x3{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .grid--1x4{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .feature-block--image-div{
        width: 28vw;
    }
    
    .shop-block .feature-block--image-div{
        width: 21vw;
    }

    .margin-bottom{
        margin-bottom: 5rem;
    }    

    .content,
    .content--1x{
        padding: 1.5rem 4rem;
    }

    .home-page{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 3rem;
        height: 70vh;
    }

    .home-page{
        justify-content: flex-end;
    }
    
    .home-sale{
        flex-direction: row-reverse;
    }

    .home-sale .feature-block--image-div{
        width: auto;
    }

    .home-pictures .feature-block--image-div{
        height: 40vh;
    }


}